{% extends 'layout.html' %}

{% block title %}
  {{ recipe.title }} - Recipe Details
{% endblock %}

{% block content %}
  <div class="w-[90%] lg:w-[80%] mx-auto p-8 bg-orange-100 rounded-3xl shadow-lg dark:bg-slate-800 mt-5 lg:mt-0 mb-4">
    <h1 class="text-3xl lg:text-5xl font-bold">{{ recipe.title }}</h1>
    <p><strong>By:</strong> {{ recipe.username.username }}</p>
    <p><strong>Description:</strong></p>
    <p>{{ recipe.description }}</p>
    <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" class="w-full lg:w-3/4 mx-auto mt-6 rounded-lg shadow-lg">
    
    <div class="mt-4">
        <p><strong>Category:</strong> {{ recipe.category }}</p>
        <p><strong>Rating:</strong> {{ recipe.rating }}</p>
        <p><strong>Ingredients:</strong></p>
        <ul>
          {% for amount, ingredient in recipe.get_amounts_and_ingredients %}
            <li>{{ amount }} - {{ ingredient }}</li>
          {% endfor %}
        </ul>
        <p><strong>Procedures:</strong></p>
        <ul>
          {% for procedure in recipe.get_procedures %}
            <li>{{ procedure }}</li>
          {% endfor %}
        </ul>
    </div>
  </div>
{% endblock %}
