{% extends 'layout.html' %} 
  {% block title %} 
    Collective Cooks 
  {% endblock %}

  {% block content %}
    <h2>Login</h2>

    <form method="POST" action="{% url 'auth:login' %}">
      {% csrf_token %}

        <div class="form-group">
          <label for="id_username">Username: </label>
          {{ login_form.username }} {% if login_form.username.errors %}
          <div class="error">{{ login_form.username.errors }}</div>
          {% endif %}
        </div>

        <div class="form-group">
          <label for="id_password">Password: </label>
          {{ login_form.password }} {% if login_form.password.errors %}
          <div class="error">{{ login_form.password.errors }}</div>
          {% endif %}
        </div>

      <button type="submit">Log In</button>
      <p>Don't have an account?<a href="{% url 'auth:register' %}">Register here.</a></p>
    </form>

  {% for message in messages %}
  <div>{{ message }}</div>
  {% endfor %} 

{% endblock %}
