# Virtual environment
venv/
.env/

# Django migrations
*.pyc
*.pyo
*.pyd
__pycache__/
db.sqlite3
*.log

# Static files
staticfiles/
media/

# IDE and editor files
.vscode/
*.sublime-project
*.sublime-workspace
.idea/

# Environment variables
.env
