{% extends 'layout.html' %}

{% block title %}
  Profile - Collective Cooks
{% endblock %}

{% block content %}
    <div class="mt-4 px-8 lg:px-32 py-2">

        <div class='bg-orange-100 p-4 rounded-2xl mb-7 dark:bg-slate-800'>
            <div class="flex mt-8 items-center justify-center p-4">
                <h2 class="lg:block text-xl lg:text-2xl font-bold lg:text-4xl">{{ userz.first_name }} {{ userz.last_name }}'s Cook Book</h2>
            </div>

            {% if recipes %}
                <div class='flex justify-center'>
                    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-4 w-fit">
                        {% for recipe in recipes %}
                            <a href="{% url 'recipe:recipe_detail' recipe.username.username recipe.id %}" 
                            class="flex flex-col items-center bg-accent1 shadow-md rounded-lg py-4 lg:p-3 transition-transform transform hover:scale-105 hover:shadow-lg">
                                <div class="bg-gray-200  aspect-square rounded-lg mb-2 flex items-center justify-center overflow-hidden">
                                    <img src="{{ recipe.image.url }}" alt="Food Image" class="w-32 h-32 lg:w-48 lg:h-48 object-cover rounded-lg">
                                </div>
                                <h3 class="text-white text-sm font-semibold text-center truncate w-full hover:text-blue-400 px-2">
                                    {{ recipe.title }}
                                </h3>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <p class="text-center p-4">No recipes available.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
