{% extends 'layout.html' %} 
{% load static %}

{% block title %} Collective Cooks {% endblock %} 

{% block content %}
  
  <div class="flex flex-col lg:flex-row justify-between  lg:pl-40 py-16 bg-accent1 h-auto lg:h-[28rem] text-white">
    <div class="w-full lg:w-1/2 px-4 lg:px-0 text-center lg:text-left">
      <h1 class="font-bold text-[2.0rem] mb-5 lg:text-[2.5rem]">Share Flavors, Connect Through Food! </h1>
      <p class="text-lg lg:text-2xl">Join CooksCollective, the go-to platform for home cooks</p>
      <p class="text-lg lg:text-2xl">and chefs to explore, share, and organize recipes across</p>
      <p class="text-lg lg:text-2xl">all cuisines and dirtary preferences.</p>

      <button class="mt-8 bg-accent2 hover:bg-accent1 hover:text-accent2 text-white text-2xl lg:text-3xl font-bold hover:border-4 hover:border-accent2 pb-1 rounded-xl w-48 lg:w-56 h-12 lg:h-14">
        {% if not user.is_authenticated %}
          <a href="{% url 'auth:register' %}">SIGN-UP</a>
        {% else %}
          <a  href="/recipe/add">SHARE-RECIPE</a>
        {% endif %}
      </button>
    </div>

    <div class="hidden lg:flex w-full lg:w-1/2 mt-10 lg:mt-0 p-6 flex flex-col lg:flex-row items-center justify-center space-y-4 lg:space-y-0 lg:space-x-4">
      <div class="w-1/3">
          <img src="{% static 'images/dech.jpg' %}" alt="Dish 1" class="rounded-lg w-full h-auto" />
      </div>
      <div class="w-1/3">
          <img src="{% static 'images/fiel.jpg' %}" alt="Dish 2" class="rounded-lg w-full h-auto" />
      </div>
      <div class="w-1/3">
          <img src="{% static 'images/vmc.png' %}" alt="Dish 3" class="rounded-lg w-full h-auto" />
      </div>
    </div>
  </div>


  <div class="mt-4 lg:mt-5 h-auto lg:h-[48rem]">
    <div class="flex items-center">
      <div class="flex-grow border-t-4 border-accent1"></div>
      <h1 class="text-center text-3xl lg:text-5xl font-bold text-accent2 p-4">
        Most Popular Contributor
      </h1>
      <div class="flex-grow border-t-4 border-accent1"></div>
    </div>
  
    <div class="relative w-2/3 lg:w-1/2 mx-auto overflow-hidden mt-8">
      <div id="carouselContainer" class="flex transition-transform ease-out duration-500">
        {% for popular in popular_users %}
          <div class="shadow-lg shadow-2xl shadow-accent2 flex flex-col lg:flex-row lg:items-center lg:justify-center
            bg-gradient-accent w-[90%] lg:w-[50%] mx-auto rounded-xl lg:rounded-3xl h-auto lg:h-[55%] mt-4 lg:mt-8">
           
            <div class="flex justify-center w-full lg:w-[45%] h-56 lg:h-full">
              <img src="{{ popular.avatar.url }}" alt="popular user image placeholder"
                class="h-full w-full object-cover rounded-t-xl lg:rounded-l-xl lg:rounded-tr-none border-white shadow-lg">
            </div>

            <div class="flex flex-col items-start w-full lg:w-[55%] text-white px-4 lg:px-8 py-4">
              <h2 class="text-3xl lg:text-4xl font-bold">{{ popular.first_name }} {{ popular.last_name }}</h2>
              <div class="w-full border-t-2 border-white my-2"></div>
              <p class="mb-2 text-sm">{{ popular.follower_count }} Followers</p>
              <p class="text-base lg:text-lg my-4">{{ popular.details }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
      
      <div>
        <button onclick="previousSlide()" class="absolute top-1/3 lg:top-1/2 left-2 transform -translate-y-1/2 bg-white text-accent1 p-2 rounded-full z-10">
          &lt;
        </button>
        <button onclick="nextSlide()" class="absolute top-1/3 lg:top-1/2 right-2 transform -translate-y-1/2 bg-white text-accent1 p-2 rounded-full z-10">
          &gt;
        </button>
      </div>
      
  
      <div class="flex justify-center gap-4 mt-12 lg:mt-7">
        {% for pop in popular_users %}
          <div id="indicator-{{ forloop.counter0 }}" class="indicator-circle w-4 h-4 rounded-full bg-accent1"></div>
        {% endfor %}
      </div>
    </div>
  </div>
  
  <script>
    let currentIndex = 0;
    const totalItems = {{ popular_users|length }};
    const carouselContainer = document.getElementById('carouselContainer');
    const indicators = document.querySelectorAll('.indicator-circle');
  
    carouselContainer.style.width = `${totalItems * 100}%`;
  
    function updateCarousel() {
      carouselContainer.style.transform = `translateX(-${currentIndex * (100 / totalItems)}%)`;
      updateIndicators();
    }
  
    function updateIndicators() {
      indicators.forEach((indicator, index) => {
        indicator.classList.toggle('bg-accent2', index === currentIndex);
        indicator.classList.toggle('bg-accent1', index !== currentIndex);
      });
    }
  
    function nextSlide() {
      currentIndex = (currentIndex + 1) % totalItems;
      updateCarousel();
    }
  
    function previousSlide() {
      currentIndex = (currentIndex - 1 + totalItems) % totalItems;
      updateCarousel();
    }
  
    updateIndicators();
  </script>
  
  <style>
    .indicator-circle {
      transition: background-color 0.3s ease;
    }
  </style>
{% endblock %}
