<!DOCTYPE html>
{% load static %}
{% load static tailwind_tags %}
<html lang="en" class=""> <!-- Dark mode will be toggled with this class -->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% tailwind_css %}
    <title>Cooks Collective</title>
</head>
<body class="h-screen bg-light-mode dark:bg-dark-mode w-[92%] mx-auto">
    <!-- Navbar -->
    <header>
        <nav id="navbar" class="flex justify-between items-center w-[100%] mx-auto bg-light-mode dark:bg-dark-mode">
            <!-- Logo -->
            <div>
                <img class="w-32" src="{% static 'images/image-logo-transparent.png' %}" alt="CooksCollective">
            </div>

            <div class="flex items-center bg-accent1 p-1 rounded-3xl shadow-md w-[32rem]">
                <input
                    type="text"
                    placeholder="Search...."
                    class="w-[90%] px-4 py-1 rounded-l-2xl focus:outline-none border-none bg-white dark:bg-[#151515] dark:text-light-mode"
                >
                <div class="w-[10%] bg-accent1 flex items-center justify-center rounded-r-2xl">
                  <button id="search-button">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="black" class="w-6 h-6 search-icon">
                          <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                      </svg>
                  </button>
              </div>
            </div>

        
            <div class="flex items-center justify-center">
                <button id="theme-toggle" class="mr-10" onclick="toggleDarkMode()">
                    <svg id="sun-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" width="2.5em" height="2.5em" class="hidden hover:bg-accent2 rounded-full transition-transform duration-300 hover:scale-150">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" />
                    </svg>

                    <svg id="moon-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="black" width="2.5em" height="2.5em" class="hover:bg-accent2 rounded-full transition-transform duration-300 hover:scale-150">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z" />
                    </svg>
                </button>

                {% if user.is_authenticated %}
                    <div class="relative group inline-block">
                        <button id="dropdownDefaultButton" class="text button">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="black" width="2.8em" height="2.8em" class="user-icon">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                            </svg>
                        </button>
                
                        <!-- Dropdown menu -->
                        <div id="dropdown" class="absolute hidden group-hover:flex flex-col z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 border-2 border-current top-12 right-px">
                            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                                <li>
                                    <a href="{% url 'auth:profile' %}" class="block px-4 py-2 w-full hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">My Profile</a>
                                </li>
                                <li>
                                    <form action="{% url 'auth:logout' %}" method="post" class="block">
                                        {% csrf_token %}
                                        <button type="submit" class="block px-4 py-2 w-full text-left hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Logout</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% else %}

                    <a href="{% url 'auth:login' %}">
                        <button class="bg-light-mode text-dark-mode dark:text-light-mode px-5 py-2 rounded-lg hover:bg-accent2 dark:hover:bg-dark-accent2 mx-2 dark:bg-dark-mode dark:text-white dark:hover:bg-accent2">
                            Login
                        </button>
                    </a>
                    <a href="{% url 'auth:register' %}">
                        <button class="bg-accent1 text-dark-mode dark:text-light-mode dark:bg-dark-accent2 px-5 py-2 rounded-lg hover:bg-accent2 dark:hover:bg-dark-bg dark:text-white">
                            SignUp
                        </button>
                    </a>
                {% endif %}
                
                
            </div>
        </nav>
    </header>

    <!-- END OF NAVBAR -->
    <main class="flex-grow px-10 py-10 bg-accent1 h-[100%]">
        {% block content %} 
        {% endblock %}
    </main>

    <!-- END OF MAIN -->
    <script>
      function toggleDarkMode() {
        const html = document.querySelector('html');
        const sunIcon = document.getElementById('sun-icon');
        const moonIcon = document.getElementById('moon-icon');
        const searchIcon = document.querySelector('.search-icon path');
        const userIcon = document.querySelector('.user-icon path')

        if (html.classList.contains('dark')) {
            html.classList.remove('dark');
            moonIcon.classList.remove('hidden');
            sunIcon.classList.add('hidden');
            searchIcon.setAttribute('stroke', 'black');
            userIcon.setAttribute('stroke', 'black');
        } else {
            html.classList.add('dark');
            moonIcon.classList.add('hidden');
            sunIcon.classList.remove('hidden');
            searchIcon.setAttribute('stroke', 'white');
            userIcon.setAttribute('stroke', 'white');
        }
    }
     function handleUserIconClick() {
        const userDropDown = document.getElementById('dropdown');
        userDropDown.classList.toggle('hidden');
     }
    </script>
</body>
</html>