<!DOCTYPE html>
{% load static tailwind_tags %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    {% tailwind_css %}
    <title>Cooks Collective</title>
  </head>
  <body class="h-screen">

    <!-- Navbar -->
    <header>
      <nav class="flex justify-between items-center w-[92%] mx-auto bg-[#F53803]">

        <div class=>
          <img class="w-32" src="{% static 'images/image-logo.png' %}" alt="CooksCollective">
        </div>

        <div class="bg-[#F53803] md:static md:min-h-fit min-h-[60vh] md:w-auto w-full flex items-center px-9">
          <input type="text" placeholder="Search....">
          
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
          </svg>
          
        </div>

        <div class="">
          <a href={% url 'auth:register' %}> <button class="bg-[#F5D020] text-white px-5 py-2 rounded-full hover:bg-[#f2e18d]"> Sign in </button> </a> 
        </div>
        
      </nav>
    </header>


    <!-- END OF NAVBAR -->

    <main class="py-10">
      {% block content %} {% endblock %}
    </main>

    <!-- Search Modal -->

    <!-- END OF MAIN -->

    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
