{% extends 'layout.html' %}

{% block title %}
  Profile - Collective Cooks
{% endblock %}

{% block content %}
    <div class="max-w-3xl mx-auto p-6 bg-white rounded-lg shadow-lg">
        <h1 class="text-2xl font-bold mb-4">Edit Profile</h1>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="flex items-center space-x-4 mb-4">
                <div class="w-32 h-32 rounded-full overflow-hidden border-4 border-yellow-500">
                    <img src="{{ user.avatar.url }}" alt="Profile Image" class="w-full h-full object-cover">
                </div>
                <div>
                    {{ form.avatar }}
                </div>
            </div>

            <div class="mb-4">
                <label for="first_name" class="block text-gray-700 font-semibold">First Name</label>
                {{ form.first_name }}
            </div>

            <div class="mb-4">
                <label for="last_name" class="block text-gray-700 font-semibold">Last Name</label>
                {{ form.last_name }}
            </div>

            <div class="mb-4">
                <label for="email" class="block text-gray-700 font-semibold">Email</label>
                {{ form.email }}
            </div>

            <div class="mb-4">
                <label for="gender" class="block text-gray-700 font-semibold">Gender</label>
                {{ form.gender }}
            </div>

            <div class="mb-4">
                <label for="birthdate" class="block text-gray-700 font-semibold">Birthdate</label>
                {{ form.birthdate }}
            </div>

            <div class="form-group mb-4">
                <label for="id_details" class="block text-sm font-medium ml-1 mb-1">Bio:</label>
                <div>
                    <textarea 
                        name="details" 
                        id="id_details" 
                        class="border border-gray-300 rounded-lg mt-1 w-full focus:outline-none focus:ring focus:ring-blue-400 h-24" 
                        placeholder="Enter your bio here..."
                    >{{ form.details.value }}</textarea>
                    {% if form.details.errors %}
                        <div class="text-red-500 text-sm">{{ form.details.errors }}</div>
                    {% endif %}
                </div>
            </div>
            
            <div class="flex space-x-4 mt-4">
                <button type="submit" class="bg-orange-500 text-black py-2 px-4 rounded-lg flex-1">Update Profile</button>
                <a href="{% url 'auth:profile' user.id %}" class="bg-gray-300 text-gray-700 py-2 px-4 rounded-lg flex-1 text-center">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}

 
