{% extends 'layout.html' %}

{% block title %}
  Profile - Collective Cooks
{% endblock %}

{% block content %}
  <div class="w-[90%] lg:w-[80%] mx-auto p-8 bg-orange-100 rounded-3xl shadow-lg dark:bg-slate-800 mt-5 lg:mt-0 ">

    <div class="flex flex-col items-top p-4 min-h-56">
        <div class="block lg:flex items-center lg:space-x-6 space-y-4 lg:space-y-0">
            <img src="{{ user.avatar.url }}" alt="Profile Image" class="w-32 h-32 lg:w-40 lg:h-40 rounded-full border-4 border-yellow-500 mx-auto lg:mx-0">
            <div class="text-center lg:text-left">
                <h1 class="text-2xl lg:text-4xl font-bold">{{ user.first_name }} {{ user.last_name }}</h1>
                <p class="mt-3 text-gray-600">{{ user.email }}</p>
                <p class="mt-3 text-lg lg:text-xl font-semibold">Following {{ following_count }} | Followers {{ followers_count }} </p>
                <p class="mt-3 text-gray-600 italic">{{ user.details }}</p>
            </div>
        </div>
  
        <div class="flex items-center justify-center lg:block mt-4 lg:mt-5 lg:ml-5">
            {% if user == request.user %}
                <a href="{% url 'auth:edit_profile' user.id %}" class="inline-block bg-accent2 text-white py-2 px-4 rounded-lg hover:bg-accent1 hover:border-2 hover:border-accent2">Edit Profile</a>
            {% else %}
            <form action="{% url 'auth:follow_user' user.id %}" method="post">
                {% csrf_token %}
                {% if self_following %}
                    <button type="submit" class="inline-block border-transparent border-2 bg-accent1 py-2 ml-1 px-4 rounded-lg hover:text-accent1 text-white hover:bg-accent2 hover:border-2 hover:border-accent1">Unfollow</button>
                {% else %}
                    <button type="submit" class="inline-block bg-accent2 border-transparent border-2 lg:ml-5 py-2 px-4 rounded-lg hover:text-accent1 text-white hover:bg-accent1 hover:border-2 hover:border-accent2">Follow</button>
                {% endif %}
            </form>            
            {% endif %}
        </div>
    </div>
      
    <div class="mt-4">
        <h2 class="lg:inline mt-4 lg:mt-8 text-2xl font-bold lg:text-4xl ml-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red" class="size-8 inline mb-1">
                <path d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z" />
            </svg>
            FAVORITES
          </h2>
    </div>
      
        {% if favorites %}
            <div class="flex overflow-x-scroll no-scrollbar space-x-8 mx-2 mt-4 ml-2 text-xl">
                {% for favorite in favorites|slice:":5" %}
                    <div class="flex flex-col items-center bg-accent1 shadow-md rounded-lg p-2 min-w-24 lg:min-w-48">
                        <div class="bg-gray-200 h-24 lg:h-48 w-full rounded-lg mb-2 flex items-center justify-center">
                            <img src="{{ favorite.recipe_id.image.url }}" alt="Food Image" class="h-full w-full object-cover rounded-lg">
                        </div>
                        <h3 class="text-white text-sm lg:text-lg font-semibold">{{ favorite.recipe_id.title }}</h3>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="flex items-center justify-center lg:ml-2 lg:block">No favorites yet.</p>
        {% endif %}


        <h2 class="lg:block mt-8 lg:mt-8 text-2xl font-bold lg:text-4xl ml-2">👩‍🍳RECIPES SUBMITTED</h2>
        
        {% if recipes %}
            <div class="flex overflow-x-scroll no-scrollbar space-x-8 mx-2 mt-4 ml-2 text-xl">
                {% for recipe in recipes %}
                    <a href="{% url 'recipe:recipe_detail' recipe.username.username recipe.id %}" class="flex flex-col items-center bg-accent1 shadow-md rounded-lg p-2 min-w-24 lg:min-w-48">
                        <div class="bg-gray-200 h-24 lg:h-48 w-full rounded-lg mb-2 flex items-center justify-center">
                            <img src="{{ recipe.image.url }}" alt="Food Image" class="h-full w-full object-cover rounded-lg">
                        </div>
                        <h3 class="text-white text-sm lg:text-lg font-semibold">{{ recipe.title }}</h3>
                    </a>
                {% endfor %}
            </div>
        {% else %}
        <p class="flex items-center justify-center lg:ml-2 lg:block">No recipes available.</p>
        {% endif %}

  </div>
{% endblock %}

 
